@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject NavigationManager Navigation

@page "/pass"
@using PassGuard.Web.Client.Components.Data
@rendermode InteractiveWebAssembly

<PageTitle>Pass</PageTitle>

<h1 class="text-muted">Render @(OperatingSystem.IsBrowser() ? "Wasm" : "Server")</h1>

@* @if (_isLoading) { *@
@*     <MudProgressCircular Color="Color.Info" Style="height:70px;width:70px;" Indeterminate="true" /> *@
@* } *@
@* else *@
@* { *@
    <EnterData />
    <ShowData />
@* } *@

@code {
    string? _token;
    private bool _isLoading;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _token = await LocalStorage.GetItemAsync<string>("token");

            if (_token != null)
            {
                _isLoading = false;
                StateHasChanged();
            }
            else
            {
                Navigation.NavigateTo("/");
            }
        }
    }
    
    protected override Task OnInitializedAsync()
    {
        _isLoading = true;
        return Task.CompletedTask;
    }
}
