<h3>CustomModal</h3>

<div class="modal-overlay" @onclick="OnOverlayClick">
    <div class="modal-content" @onclick:stopPropagation="true">
        <h3>Confirmez votre mot de passe</h3>
        <MudTextField @bind-Value="PasswordInput" Label="Mot de passe" InputType="InputType.Password"/>
        <div class="modal-actions">
            <MudButton Color="Color.Primary" OnClick="Confirm">Ok</MudButton>
            <MudButton Color="Color.Secondary" OnClick="Cancel">Annuler</MudButton>
        </div>
    </div>
    @* <div> *@
    @*     <MudDialog> *@
    @*         <TitleContent> *@
    @*             Dialog Title *@
    @*         </TitleContent> *@
    @*         <DialogContent> *@
    @*             Dialog Content *@
    @*         </DialogContent> *@
    @*         <DialogActions> *@
    @*             <MudButton OnClick="Cancel">Cancel</MudButton> *@
    @*             <MudButton Color="Color.Primary">Ok</MudButton> *@
    @*         </DialogActions> *@
    @*     </MudDialog> *@
    @* </div> *@
</div>


@code {
    [Parameter] public EventCallback<string> OnConfirmed { get; set; }
    [Parameter] public EventCallback OnCancelled { get; set; }
    private bool _visible = true;

    
    private string PasswordInput { get; set; } = "";

    private async Task Confirm()
    {
        await OnConfirmed.InvokeAsync(PasswordInput);
    }

    private async Task Cancel()
    {
        await OnCancelled.InvokeAsync();
    }

    private void OnOverlayClick()
    {
        // Optionnel : fermer la modal si on clique en dehors
        Cancel();
    }
}